In [1]:

!pip show pandas

Name: pandas
Version: 1.4.2
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: The Pandas Development Team
Author-email: pandas-dev@python.org
License: BSD-3-Clause
Location: /home/azureuser/anaconda3/lib/python3.9/site-packages
Requires: python-dateutil, pytz, numpy
Required-by: xarray, statsmodels, shap, seaborn, mlflow, hvplot, holoviews, datashader

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
#Load and Prepare the Data
import pandas as pd
url = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-01.parquet"
df = pd.read_parquet(url)

In [4]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,1,10.00,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.00
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,1,5.10,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.00
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,1,5.10,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.00
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,2,7.20,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.00
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,2,5.80,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3475221,2,2025-01-31 23:01:48,2025-01-31 23:16:29,NaN,3.35,NaN,None,79,237,0,15.85,0.0,0.5,0.00,0.0,1.0,20.60,NaN,NaN,0.75
3475222,2,2025-01-31 23:50:29,2025-02-01 00:17:27,NaN,8.73,NaN,None,161,116,0,28.14,0.0,0.5,0.00,0.0,1.0,32.89,NaN,NaN,0.75
3475223,2,2025-01-31 23:26:59,2025-01-31 23:43:01,NaN,2.64,NaN,None,144,246,0,14.91,0.0,0.5,0.00,0.0,1.0,19.66,NaN,NaN,0.75
3475224,2,2025-01-31 23:14:34,2025-01-31 23:34:52,NaN,3.16,NaN,None,142,107,0,17.55,0.0,0.5,0.00,0.0,1.0,22.30,NaN,NaN,0.75
3475225,2,2025-01-31 23:56:42,2025-02-01 00:07:27,NaN,2.29,NaN,None,237,238,0,12.09,0.0,0.5,0.00,0.0,1.0,16.09,NaN,NaN,0.00

In [5]:
#Feature Engineering
df['trip_duration']= (pd.to_datetime(df['tpep_dropoff_datetime']) - pd.to_datetime(df['tpep_pickup_datetime'])).dt.total_seconds() / 60.0

In [6]:
df['trip_duration']

0           8.350000
1           2.550000
2           1.950000
3           5.566667
4           3.533333
             ...
3475221    14.683333
3475222    26.966667
3475223    16.033333
3475224    20.300000
3475225    10.750000
Name: trip_duration, Length: 3475226, dtype: float64

In [7]:
#filter the trip duration > 0 and < 250 
df= df[(df['trip_duration'] > 0) & (df['trip_duration'] < 250)]

In [8]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,trip_duration
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,1,...,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.00,8.350000
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,1,...,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.00,2.550000
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,1,...,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.00,1.950000
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,2,...,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.00,5.566667
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,2,...,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.00,3.533333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3475221,2,2025-01-31 23:01:48,2025-01-31 23:16:29,NaN,3.35,NaN,None,79,237,0,...,0.0,0.5,0.00,0.0,1.0,20.60,NaN,NaN,0.75,14.683333
3475222,2,2025-01-31 23:50:29,2025-02-01 00:17:27,NaN,8.73,NaN,None,161,116,0,...,0.0,0.5,0.00,0.0,1.0,32.89,NaN,NaN,0.75,26.966667
3475223,2,2025-01-31 23:26:59,2025-01-31 23:43:01,NaN,2.64,NaN,None,144,246,0,...,0.0,0.5,0.00,0.0,1.0,19.66,NaN,NaN,0.75,16.033333
3475224,2,2025-01-31 23:14:34,2025-01-31 23:34:52,NaN,3.16,NaN,None,142,107,0,...,0.0,0.5,0.00,0.0,1.0,22.30,NaN,NaN,0.75,20.300000
3475225,2,2025-01-31 23:56:42,2025-02-01 00:07:27,NaN,2.29,NaN,None,237,238,0,...,0.0,0.5,0.00,0.0,1.0,16.09,NaN,NaN,0.00,10.750000

In [9]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'Airport_fee',
       'cbd_congestion_fee', 'trip_duration'],
      dtype='object')

In [10]:
features= df[['trip_distance', 'trip_duration']]

In [11]:
target = df['fare_amount']

In [12]:
df['fare_amount'].isna().sum()

0

In [13]:
df['trip_distance'].isna().sum()

0

In [14]:
df['trip_duration'].isna().sum()

0

In [15]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.30, random_state=42)

In [16]:
import mlflow
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from mlflow.models import infer_signature
#Start the mlflow context
mlflow.set_tracking_uri("http://localhost:5000")
mlflow.set_experiment("FareEstimationExperiment")
with mlflow.start_run():
    #Define the model
    model = LinearRegression()
    #Fit the model
    model.fit(X_train, y_train)
    #Predict Fare for the test data
    predictions = model.predict(X_test)
    #Evaluate the model
    mse = mean_squared_error(y_test, predictions)
    #Logging Metrics
    mlflow.log_metric("mse", mse)
    #Logging the hyperparameters
    mlflow.log_param("model_type", "LinearRegression")
    
     # Infer the model signature
    signature = infer_signature(X_train, model.predict(X_train))
    
    # Log the model, which inherits the parameters and metric
    model_info = mlflow.sklearn.log_model(
        sk_model=model,
        name="FareEstimationModel",
        signature=signature,
        input_example=X_train,
        registered_model_name="FareEstimator",
    )

2025/07/30 07:12:03 WARNING mlflow.utils.environment: Encountered an unexpected error while inferring pip requirements (model URI: /tmp/tmpqpbnlaja/model/model.pkl, flavor: sklearn). Fall back to return ['scikit-learn==1.0.2', 'cloudpickle==2.0.0']. Set logging level to DEBUG to see the full traceback.
Registered model 'FareEstimator' already exists. Creating a new version of this model...
2025/07/30 07:12:17 INFO mlflow.store.model_registry.abstract_store: Waiting up to 300 seconds for model version to finish creation. Model name: FareEstimator, version 6

🏃 View run serious-crow-367 at: http://localhost:5000/#/experiments/6/runs/796fe6b1255f4de9bbe82c24ea20ad3d
🧪 View experiment at: http://localhost:5000/#/experiments/6

Created version '6' of model 'FareEstimator'.

In [17]:
from sklearn.ensemble import GradientBoostingRegressor

In [19]:
with mlflow.start_run():
    #Define the model
    gbr = GradientBoostingRegressor(n_estimators=10)
    #Fit the model
    gbr.fit(X_train,y_train)
    #Predict Fare for the test data
    predictions = gbr.predict(X_test)
    #Evaluate the model
    mse = mean_squared_error(y_test, predictions)
    #Logging Metrics
    mlflow.log_metric("mse", mse)
    #Logging the hyperparameters
    mlflow.log_param("model_type", "GradientBoosting Regressor")
    
     # Infer the model signature
    signature = infer_signature(X_train, gbr.predict(X_train))
    
    # Log the model, which inherits the parameters and metric
    model_info = mlflow.sklearn.log_model(
        sk_model=gbr,
        name="FareEstimationModel",
        signature=signature,
        input_example=X_train,
        registered_model_name="FareEstimator",
    )

2025/07/30 07:17:09 WARNING mlflow.utils.environment: Encountered an unexpected error while inferring pip requirements (model URI: /tmp/tmpy76_5hpi/model/model.pkl, flavor: sklearn). Fall back to return ['scikit-learn==1.0.2', 'cloudpickle==2.0.0']. Set logging level to DEBUG to see the full traceback.
Registered model 'FareEstimator' already exists. Creating a new version of this model...
2025/07/30 07:17:23 INFO mlflow.store.model_registry.abstract_store: Waiting up to 300 seconds for model version to finish creation. Model name: FareEstimator, version 8

🏃 View run honorable-sloth-681 at: http://localhost:5000/#/experiments/6/runs/549d3944de594b099cb96e68677827be
🧪 View experiment at: http://localhost:5000/#/experiments/6

Created version '8' of model 'FareEstimator'.

In [22]:
#Loading the registered model with version 1

mlflow.set_tracking_uri("http://localhost:5000")
reg_model_name = 'FareEstimator'
model_uri = f"models:/{reg_model_name}/1"
loaded_model = mlflow.sklearn.load_model(model_uri)
print("Loaded Model",loaded_model)

Loaded Model LinearRegression()

In [25]:
#Loading the registered model with version 7

mlflow.set_tracking_uri("http://localhost:5000")
reg_model_name = 'FareEstimator'
model_uri = f"models:/{reg_model_name}/7"
loaded_model = mlflow.sklearn.load_model(model_uri)
print("Loaded Model",loaded_model)

Loaded Model GradientBoostingRegressor(n_estimators=10)